# FAKE REVIEW NODE EMBEDDING

In [4]:
!pip install torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.12.0+cpu.html

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Looking in links: https://data.pyg.org/whl/torch-1.12.0+cpu.html
Collecting torch-scatter
  Downloading https://data.pyg.org/whl/torch-1.12.0%2Bcpu/torch_scatter-2.0.9-cp37-cp37m-linux_x86_64.whl (286 kB)
     |████████████████████████████████| 286 kB 256 kB/s
Collecting torch-sparse
  Downloading https://data.pyg.org/whl/torch-1.12.0%2Bcpu/torch_sparse-0.6.15-cp37-cp37m-linux_x86_64.whl (641 kB)
     |████████████████████████████████| 641 kB 53.7 MB/s
Collecting torch-cluster
  Downloading https://data.pyg.org/whl/torch-1.12.0%2Bcpu/torch_cluster-1.6.0-cp37-cp37m-linux_x86_64.whl (311 kB)
     |████████████████████████████████| 311 kB 275 kB/s
Collecting torch-spline-conv
  Downloading https://data.pyg.org/whl/torch-1.12.0%2Bcpu/torch_spline_conv-1.2.1-cp37-cp37m-linux_x86_64.whl (121 kB)
     |████████████████████████████████| 121 kB 284 kB/s
Collecting torch-geometric
  Downloading torch_geometric-2.1.0.post1.tar.gz (467 kB)
     |████████████████████████████████| 467 kB 38.9 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from torch-sparse) (1.7.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from torch-geometric) (4.64.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from torch-geometric) (1.21.6)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from torch-geometric) (2.11.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torch-geometric) (2.23.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from torch-geometric) (3.0.9)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from torch-geometric) (1.0.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->torch-geometric) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torch-geometric) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torch-geometric) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torch-geometric) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torch-geometric) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->torch-geometric) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->torch-geometric) (3.1.0)
Building wheels for collected packages: torch-geometric
  Building wheel for torch-geometric (setup.py) ... done
  Created wheel for torch-geometric: filename=torch_geometric-2.1.0.post1-py3-none-any.whl size=689859 sha256=1d5972be7cbe79f247156e118ac0146cb19d24f376bf3e180c66391651a93a2c
  Stored in directory: /root/.cache/pip/wheels/d1/cb/43/f7f2e472de4d7cff31bceddadc36d634e1e545fbc17961c282
Successfully built torch-geometric
Installing collected packages: torch-spline-conv, torch-sparse, torch-scatter, torch-geometric, torch-cluster
Successfully installed torch-cluster-1.6.0 torch-geometric-2.1.0.post1 torch-scatter-2.0.9 torch-sparse-0.6.15 torch-spline-conv-1.2.1

In [148]:
# importing all necessary libraries
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import os
import networkx as nx
#import stellargraph as sg
#from stellargraph import StellarGraph
from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
#from node2vec import Node2Vec as n2v
sns.set()
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [149]:
# importing all necessary libraries
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import os
import networkx as nx
from sklearn import preprocessing, model_selection
from IPython.display import display, HTML
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
#from node2vec import Node2Vec as n2v
sns.set()

%matplotlib inline

In [150]:
import os, sys
from copy import deepcopy
import numpy as np
import pandas as pd

import torch as th
import torch.nn as nn
from torch import optim
import torch.nn.functional as F

import matplotlib.pyplot as plt
%matplotlib inline

In [151]:
#importing libraries
import numpy as np
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import statistics
import math
import os
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn.metrics import confusion_matrix
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
#nltk.download('all')
import re
pd.set_option('max_colwidth', 800)


#importing Libraies
import networkx as nx
import matplotlib.pyplot as plt
from numpy import genfromtxt
import collections
from collections import OrderedDict

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression,LogisticRegression, RidgeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,accuracy_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [152]:
import os
import torch
os.environ['TORCH'] = torch.__version__
print(torch.__version__)

1.12.1+cu113

In [153]:
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.manifold import TSNE

In [154]:
#loading dataset
df=pd.read_csv('/content/deceptive.csv')
df.head()

,deceptive,hotel,polarity,source,text,Class
0,truthful,conrad,positive,TripAdvisor,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n",1
1,truthful,hyatt,positive,TripAdvisor,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n",1
2,truthful,hyatt,positive,TripAdvisor,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h...",1
3,truthful,omni,positive,TripAdvisor,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n",1
4,truthful,hyatt,positive,TripAdvisor,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n",1

In [155]:
df.shape

(1600, 6)

In [156]:
#df.drop_duplicates(inplace=True)

In [157]:
df['Class'].value_counts()

1    800
0    800
Name: Class, dtype: int64

In [158]:
# dropping unnecessary columns. 
df.drop(['deceptive', 'hotel', 'polarity', 'source'], axis = 1, inplace=True)
df.head()

,text,Class
0,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n",1
1,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n",1
2,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h...",1
3,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n",1
4,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n",1

In [159]:
# Cleaning Raw tweets
def clean_text(text):
    
    #remove emails
    text = ' '.join([i for i in text.split() if '@' not in i])
    
    #remove web address
    text = re.sub('http[s]?://\S+', '', text)

    #remove brackets and parantheses (and removing the text inside the brackets and parantheses)
    text = re.sub("[\(\[].*?[\)\]]", "", text)

    #remove punctuations
    text = re.sub(r'[^\w\s]', ' ', text)
    
    #Filter to allow only alphabets and numbers
    text = re.sub(r'[^a-zA-Z\']', ' ', text)
    
    #Remove Unicode characters
    text = re.sub(r'[^\x00-\x7F]+', '', text)

    #remove double spaces 
    text = re.sub('\s+', ' ', text)
    
    return text

In [160]:
# applying that into function.
df["clean_text"] = df['text'].apply(lambda x: clean_text(x))
df.head(10)

,text,Class,clean_text
0,"We stayed for a one night getaway with family on a thursday. Triple AAA rate of 173 was a steal. 7th floor room complete with 44in plasma TV bose stereo, voss and evian water, and gorgeous bathroom(no tub but was fine for us) Concierge was very helpful. You cannot beat this location... Only flaw was breakfast was pricey and service was very very slow(2hours for four kids and four adults on a friday morning) even though there were only two other tables in the restaurant. Food was very good so it was worth the wait. I would return in a heartbeat. A gem in chicago... \n",1,We stayed for a one night getaway with family on a thursday Triple AAA rate of was a steal th floor room complete with in plasma TV bose stereo voss and evian water and gorgeous bathroom Concierge was very helpful You cannot beat this location Only flaw was breakfast was pricey and service was very very slow even though there were only two other tables in the restaurant Food was very good so it was worth the wait I would return in a heartbeat A gem in chicago
1,"Triple A rate with upgrade to view room was less than $200 which also included breakfast vouchers. Had a great view of river, lake, Wrigley Bldg. & Tribune Bldg. Most major restaurants, Shopping, Sightseeing attractions within walking distance. Large room with a very comfortable bed. \n",1,Triple A rate with upgrade to view room was less than which also included breakfast vouchers Had a great view of river lake Wrigley Bldg Tribune Bldg Most major restaurants Shopping Sightseeing attractions within walking distance Large room with a very comfortable bed
2,"This comes a little late as I'm finally catching up on my reviews from the past several months:) A dear friend and I stayed at the Hyatt Regency in late October 2007 for one night while visiting a friend and her husband from out of town. This hotel is perfect, IMO. Easy check in and check out. Lovely, clean, comfortable rooms with great views of the city. I know this area pretty well and it's very convenient to many downtown Chicago attractions. We had dinner and went clubing with our friends around Division St.. We had no problems getting cabs back and forth to the Hyatt and there's even public transportation right near by but we didn't bother since we only needed cabs from and to the hotel. Parking, as is usual for Chicago, was expensive but we were able to get our car out quickly (h...",1,This comes a little late as I m finally catching up on my reviews from the past several months A dear friend and I stayed at the Hyatt Regency in late October for one night while visiting a friend and her husband from out of town This hotel is perfect IMO Easy check in and check out Lovely clean comfortable rooms with great views of the city I know this area pretty well and it s very convenient to many downtown Chicago attractions We had dinner and went clubing with our friends around Division St We had no problems getting cabs back and forth to the Hyatt and there s even public transportation right near by but we didn t bother since we only needed cabs from and to the hotel Parking as is usual for Chicago was expensive but we were able to get our car out quickly No problems at all and...
3,"The Omni Chicago really delivers on all fronts, from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue. While this address in Chicago requires a high level of quality, the Omni delivers. Check in for myself and a whole group of people with me was under 3 minutes, the staff had plentiful recommendations for dining and events, and the rooms are some of the largest you'll find at this price range in Chicago. Even the 'standard' room has a separate living area and work desk. The fitness center has free weights, weight machines, and two rows of cardio equipment. I shared the room with 7 others and did not feel cramped in any way! All in all, a great property! \n",1,The Omni Chicago really delivers on all fronts from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue While this address in Chicago requires a high level of quality the Omni delivers Check in for myself and a whole group of people with me was under minutes the staff had plentiful recommendations for dining and events and the rooms are some of the largest you ll find at this price range in Chicago Even the standard room has a separate living area and work desk The fitness center has free weights weight machines and two rows of cardio equipment I shared the room with others and did not feel cramped in any way All in all a great property
4,"I asked for a high floor away from the elevator and that is what I got. The room was pleasantly decorated, functional and very clean. I didn't need a whole lot of service but when I did they were pleasant and prompt. I used the fitness center which was well equipped and everything was in working order. It is in a great location at one end of the Michigan Avenue shopping district. \n",1,I asked for a high floor away from the elevator and that is what I got The room was pleasantly decorated functional and very clean I didn t need a whole lot of service but when I did they were pleasant and prompt I used the fitness center which was well equipped and everything was in working order It is in a great location at one end of the Michigan Avenue shopping district
5,"I stayed at the Omni for one night following a business meeting at another downtown Chicago hotel. I was completely impressed by the service; all personnel during my stay were absolutely outstanding. I checked in quite early (no problem) and was efficiently checked in. My room had a somewhat heavy scent of air freshener (the ONLY negative from the entire stay), which was managed reasonably well by opening the windows. I don't generally require much during my hotel stays, but suffice to say the doorman, housekeeping, the night manager and bartender at 676, the day waiter at 676, and the concierge were amazing - I never waited more than about 30 seconds for anything. The room was very comfy and the amenities were superior. One very tiny complaint - there was no wastebasket near the sink ...",1,I stayed at the Omni for one night following a business meeting at another downtown Chicago hotel I was completely impressed by the service all personnel during my stay were absolutely outstanding I checked in quite early and was efficiently checked in My room had a somewhat heavy scent of air freshener which was managed reasonably well by opening the windows I don t generally require much during my hotel stays but suffice to say the doorman housekeeping the night manager and bartender at the day waiter at and the concierge were amazing I never waited more than about seconds for anything The room was very comfy and the amenities were superior One very tiny complaint there was no wastebasket near the sink or near the wet bar had to walk to the other end of the bathroom or sitting room t...
6,"We stayed in the Conrad for 4 nights just before Thanksgiving. We had a corner room overlooking N Michigan Av and the Tribune Building. To say this is a 5 star hotel is to damn this place with faint praise - it is wonderful. The staff were unbelievably helpful. The standard of the room was superb - HD plasma screens, luxury bedlinens, iPod radio, huge bathroom. Location is unbeatable - right in the heart of everything - watched the whole Light Festival parade from the window. Breakfasts were excellent - no help yourself buffet here - with full and attentive table service. Would have no hesitation recommending or staying again in this hotel - 5 out of 5. \n",1,We stayed in the Conrad for nights just before Thanksgiving We had a corner room overlooking N Michigan Av and the Tribune Building To say this is a star hotel is to damn this place with faint praise it is wonderful The staff were unbelievably helpful The standard of the room was superb HD plasma screens luxury bedlinens iPod radio huge bathroom Location is unbeatable right in the heart of everything watched the whole Light Festival parade from the window Breakfasts were excellent no help yourself buffet here with full and attentive table service Would have no hesitation recommending or staying again in this hotel out of
7,"Just got back from 2 days up in Chicago shopping with girlfriends. First time I have stayed at the Omni. I did so because I saw a $129.00 rate that included $25.00 of free food on Travelzoo. The three of us (55 year olds) all stayed in one suite with 2 double beds and a VERY comfortable pull out sofa. We had plenty of room. Food in the restaurant was great, service was outstanding from everone we came into contact with, early morning delivery of free coffee, juice and hot chocolate was fabulous and recommendations from the staff on where to eat, time of movies, shopping areas, etc was really helpful. Need I mention the outstanding location? Simply the best! We all decided that the Omni is our new favorite hotel. \n",1,Just got back from days up in Chicago shopping with girlfriends First time I have stayed at the Omni I did so because I saw a rate that included of free food on Travelzoo The three of us all stayed in one suite with double beds and a VERY comfortable pull out sofa We had plenty of room Food in the restaurant was great service was outstanding from everone we came into contact with early morning delivery of free coffee juice and hot chocolate was fabulous and recommendations from the staff on where to eat time of movies shopping areas etc was really helpful Need I mention the outstanding location Simply the best We all decided that the Omni is our new favorite hotel
8,"We arrived at the Omni on 2nd September for a 6 day stay. I took ill when I left the plane after travelling from Manchester so I saw more of the room than I anticipated. I couldn't go out for 4 days. The room was spacious and clean. The bed was extremely comfortable. The bathroom was large and very clean. What more could you ask. We had coffee and juice left outside our door every morning at the time we requested. I managed to go to the 5th floor to see the sun terrace (outside the gym) Having a sun terrace in a city hotel is a great idea but the terrace was a bit grim. A few sunbeds on a concrete floor. There was also noise from an air conditioning unit. It could do with a bit of cheering up. What I saw of Chicago was very pleasing, it has something for everyone. Would I go back to th...",1,We arrived at the Omni on nd September for a day stay I took ill when I left the plane after travelling from Manchester so I saw more of the room than I anticipated I couldn t go out for days The room was spacious and clean The bed was extremely comfortable The bathroom was large and very clean What more could you ask We had coffee and juice left outside our door every morning at the time we requested I managed to go to the th floor to see the sun terrace Having a sun terrace in a city hotel is a great idea but the terrace was a bit grim A few sunbeds on a concrete floor There was also noise from an air conditioning unit It could do with a bit of cheering up What I saw of Chicago was very pleasing it has something for everyone Would I go back to the Omni yes I would
9,"On our visit to Chicago, we chose the Hyatt due to its location in downtown, within walking distance to most major attractions, such as Sears Tower, Magnificent Mile, Grant/Millenium Parks, etc. Subway & bus stops very close by to travel to other locations in the city . Overall the hotel was very nice, clean, and at a great location. Was in a safe area. Went to beautiful Wrigley Field and Soldier Field and saw both teams play. I love Chicago and would defenitely stay here again! \n",1,On our visit to Chicago we chose the Hyatt due to its location in downtown within walking distance to most major attractions such as Sears Tower Magnificent Mile Grant Millenium Parks etc Subway bus stops very close by to travel to other locations in the city Overall the hotel was very nice clean and at a great location Was in a safe area Went to beautiful Wrigley Field and Soldier Field and saw both teams play I love Chicago and would defenitely stay here again

In [161]:
# dropping the uncleaned text column "text"
df = df.drop(['text'], axis=1)

In [162]:
# renaming the column
df.rename(columns = {'clean_text':'text'}, inplace = True)
df.head()

,Class,text
0,1,We stayed for a one night getaway with family on a thursday Triple AAA rate of was a steal th floor room complete with in plasma TV bose stereo voss and evian water and gorgeous bathroom Concierge was very helpful You cannot beat this location Only flaw was breakfast was pricey and service was very very slow even though there were only two other tables in the restaurant Food was very good so it was worth the wait I would return in a heartbeat A gem in chicago
1,1,Triple A rate with upgrade to view room was less than which also included breakfast vouchers Had a great view of river lake Wrigley Bldg Tribune Bldg Most major restaurants Shopping Sightseeing attractions within walking distance Large room with a very comfortable bed
2,1,This comes a little late as I m finally catching up on my reviews from the past several months A dear friend and I stayed at the Hyatt Regency in late October for one night while visiting a friend and her husband from out of town This hotel is perfect IMO Easy check in and check out Lovely clean comfortable rooms with great views of the city I know this area pretty well and it s very convenient to many downtown Chicago attractions We had dinner and went clubing with our friends around Division St We had no problems getting cabs back and forth to the Hyatt and there s even public transportation right near by but we didn t bother since we only needed cabs from and to the hotel Parking as is usual for Chicago was expensive but we were able to get our car out quickly No problems at all and...
3,1,The Omni Chicago really delivers on all fronts from the spaciousness of the rooms to the helpful staff to the prized location on Michigan Avenue While this address in Chicago requires a high level of quality the Omni delivers Check in for myself and a whole group of people with me was under minutes the staff had plentiful recommendations for dining and events and the rooms are some of the largest you ll find at this price range in Chicago Even the standard room has a separate living area and work desk The fitness center has free weights weight machines and two rows of cardio equipment I shared the room with others and did not feel cramped in any way All in all a great property
4,1,I asked for a high floor away from the elevator and that is what I got The room was pleasantly decorated functional and very clean I didn t need a whole lot of service but when I did they were pleasant and prompt I used the fitness center which was well equipped and everything was in working order It is in a great location at one end of the Michigan Avenue shopping district

In [163]:
import spacy
#loading the english language small model of spacy
en = spacy.load('en_core_web_sm')
sw_spacy = en.Defaults.stop_words
print(sw_spacy)

{'or', 'last', 'i', 'only', 'may', 'has', 'both', 'themselves', 'whereafter', 'therein', 'of', 'part', 'am', 'hereby', 'whither', 'often', 'together', 'empty', 'doing', 'meanwhile', 'sixty', 'if', 'two', 'at', 'off', 'sometimes', 'each', 'for', 'beforehand', 'becoming', 'they', 'every', 'be', 'ten', 'than', 'next', 'call', 'it', 'except', 'side', 'once', 'thus', "'m", 'fifteen', 'always', 'an', 'itself', "n't", 'yourself', 'anywhere', 'anything', 'can', '’re', 'four', 'to', 'hers', 'many', 'somewhere', 'down', 'why', 'never', 'on', 'hereafter', 'formerly', 'that', 'into', 'up', 'with', 'several', 'onto', 'your', 'do', 'herein', 'was', 'we', 'former', 'because', 'own', 'under', 'go', 'again', 'while', 'whom', 'whenever', 'less', 'any', 'really', 'sometime', 'about', 'thru', 'from', 'much', 'his', 'namely', 'ca', 'show', 'nine', 'alone', 'through', 'take', 'full', 'put', 'which', 'who', 'whereupon', 'will', 'something', 'front', 'becomes', 'anyway', 'himself', 'our', 'whoever', 'none', 'thereafter', 'nor', 'get', 'below', 'three', 'without', 'no', 'seeming', 'yourselves', 'bottom', 'although', 'others', 'make', 'among', 'been', 'by', 'whatever', 'eleven', '’m', 'back', 'are', 'myself', 'such', 'done', 'after', '’d', 'its', 'n’t', '’ve', 'as', 'various', 'noone', 'might', 'name', 'most', '‘re', 'six', 'anyone', 'everywhere', 'everyone', 're', 'whose', 'latter', 'not', 'afterwards', 'their', 'somehow', 'another', '‘ll', 'top', 'her', 'he', 'someone', 'amongst', 'nevertheless', 'so', 'would', 'must', 'neither', 'well', 'me', 'here', 'either', 'serious', 'see', "'d", 'mostly', 'beside', 'already', 'what', 'throughout', 'quite', 'first', 'twelve', 'more', 'seemed', 'unless', 'whole', 'anyhow', 'rather', 'whence', 'mine', 'then', 'seem', 'fifty', 'these', 'even', 'just', 'per', 'almost', 'where', 'n‘t', 'in', 'too', 'other', 'nobody', 'enough', 'hence', 'else', 'therefore', 'but', 'us', 'she', 'forty', 'against', 'thence', 'very', 'is', 'this', 'whereby', 'one', 'same', 'few', 'a', 'made', 'does', 'yours', 'seems', 'say', 'towards', 'used', 'hereupon', 'beyond', 'now', 'toward', 'there', 'those', 'out', 'everything', 'between', 'yet', "'ve", 'upon', 'cannot', 'besides', 'using', 'ourselves', 'have', 'via', 'give', 'five', "'s", 'being', 'indeed', 'regarding', 'thereupon', 'within', 'him', 'nothing', '‘d', 'eight', 'wherever', 'all', 'nowhere', 'behind', 'elsewhere', 'least', 'herself', 'due', 'keep', 'twenty', 'moreover', 'third', "'re", 'had', 'perhaps', 'ours', 'could', 'otherwise', 'however', 'you', 'along', 'during', 'whether', 'move', 'my', 'whereas', 'were', '’s', 'before', 'ever', 'wherein', 'them', '‘s', 'did', 'latterly', 'please', 'hundred', '‘m', "'ll", '’ll', 'around', 'also', 'the', 'though', 'above', 'until', 'across', 'further', 'how', 'should', '‘ve', 'became', 'when', 'become', 'still', 'since', 'and', 'over', 'amount', 'thereby', 'some'}

In [164]:
import nltk
from nltk.corpus import stopwords
sw_nltk = stopwords.words('english')
print(sw_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [165]:
sw_nltk.extend(['th','stay'])
print(len(sw_nltk))

181

In [166]:
# preprocessing the data (removing stopwords, convert the sentence to lower case, and also applying lemmatization to get meaningful words )
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
#stop_words = set(stopwords.words('english'))
ps=PorterStemmer()
wnl=WordNetLemmatizer()
def clean_lemma(review):
    review = review.lower()
    review = review.split()
    review = [wnl.lemmatize(word) for word in review if word not in sw_nltk]
    review = [wnl.lemmatize(word) for word in review if word not in sw_spacy]
    review = ' '.join(review)
    return review

In [167]:
# using lemmatization
df['text']=df['text'].apply(clean_lemma)
df.head()

,Class,text
0,1,stayed night getaway family thursday triple aaa rate steal floor room complete plasma tv bose stereo voss evian water gorgeous bathroom concierge helpful beat location flaw breakfast pricey service slow table restaurant food good worth wait return heartbeat gem chicago
1,1,triple rate upgrade view room le included breakfast voucher great view river lake wrigley bldg tribune bldg major restaurant shopping sightseeing attraction walking distance large room comfortable bed
2,1,come little late finally catching review past month dear friend stayed hyatt regency late october night visiting friend husband town hotel perfect imo easy check check lovely clean comfortable room great view city know area pretty convenient downtown chicago attraction dinner went clubing friend division st problem getting cab forth hyatt public transportation right near bother needed cab hotel parking usual chicago expensive able car quickly problem best got rate hotwire downright steal area chicago quality hotel
3,1,omni chicago delivers spaciousness room helpful staff prized location michigan avenue address chicago requires high level quality omni delivers check group people minute staff plentiful recommendation dining event room largest find price range chicago standard room separate living area work desk fitness center free weight weight machine row cardio equipment shared room feel cramped way great property
4,1,asked high floor away elevator got room pleasantly decorated functional clean need lot service pleasant prompt fitness center equipped working order great location end michigan avenue shopping district

### FEATURE EXTRACTION

In [168]:
x = df['text']
y = df['Class']

In [169]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer
cv=TfidfVectorizer()
corpii=cv.fit_transform(x)

In [170]:
feature_names = cv.get_feature_names()
#feature_names

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [171]:
len(feature_names)

7905

In [172]:
u1 = pd.DataFrame(corpii.toarray(), columns=feature_names)
u1.head()

,aaa,aaahed,aback,abassador,abd,ability,able,abound,abrupt,abruptly,...,yucky,yummo,yummy,yunan,yup,zagat,zest,zipped,zone,zoo
0,0.217034,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.090437,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### FEATURE SELECTION

In [173]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# Two features with highest chi-squared statistics are selected
chi2_features = SelectKBest(chi2, k = 1000)
X_kbest_features = chi2_features.fit_transform(u1, y)

In [174]:
chi_support = chi2_features.get_support()

In [175]:
chi_feature = u1.loc[:,chi_support].columns.tolist()

In [176]:
chi_feature

['accept',
 'accepted',
 'accomidations',
 'accommodated',
 'accommodation',
 'accomodations',
 'according',
 'accurate',
 'acknowledged',
 'acted',
 'adding',
 'address',
 'adult',
 'advantage',
 'advertises',
 'advisor',
 'affair',
 'affinia',
 'affordability',
 'agent',
 'al',
 'alive',
 'allegro',
 'allergenic',
 'allergy',
 'alley',
 'allowed',
 'amazing',
 'ambassador',
 'amenity',
 'angie',
 'angry',
 'anniversary',
 'annoying',
 'anthony',
 'anybody',
 'appointed',
 'april',
 'architectes',
 'arranging',
 'ask',
 'asleep',
 'associate',
 'assuming',
 'atmosphere',
 'attached',
 'attack',
 'attempted',
 'attended',
 'attending',
 'attraction',
 'attractive',
 'aug',
 'authorization',
 'av',
 'available',
 'ave',
 'aveda',
 'avenue',
 'award',
 'aware',
 'awful',
 'bacon',
 'badly',
 'baggage',
 'bakery',
 'ball',
 'bar',
 'bare',
 'bargain',
 'barking',
 'based',
 'basement',
 'basil',
 'bath',
 'bathroom',
 'battery',
 'beautiful',
 'beautifull',
 'beautifully',
 'beauty',
 'beck',
 'bed',
 'bedbug',
 'bell',
 'bellman',
 'beverage',
 'bid',
 'bin',
 'bistro',
 'bit',
 'bite',
 'bitten',
 'bland',
 'bldg',
 'block',
 'boarding',
 'boast',
 'bolted',
 'booked',
 'bottle',
 'bottled',
 'box',
 'breakfast',
 'breaking',
 'breath',
 'brick',
 'brief',
 'bringing',
 'broken',
 'bubble',
 'buffet',
 'building',
 'burnham',
 'burnt',
 'bus',
 'bust',
 'bustle',
 'cab',
 'cabinet',
 'called',
 'cam',
 'cancel',
 'capacity',
 'car',
 'card',
 'cared',
 'caring',
 'carlton',
 'castle',
 'casual',
 'celebrate',
 'celebrated',
 'centre',
 'chair',
 'chance',
 'charge',
 'charged',
 'charm',
 'cheesecake',
 'chicago',
 'child',
 'chill',
 'chinese',
 'christmas',
 'christopher',
 'cigarette',
 'cinema',
 'city',
 'claimed',
 'classy',
 'cleaned',
 'cleaning',
 'cleanliness',
 'clerk',
 'clientele',
 'close',
 'closer',
 'closet',
 'coffee',
 'coffeepot',
 'cold',
 'colder',
 'collection',
 'color',
 'com',
 'combination',
 'come',
 'comforting',
 'comfy',
 'coming',
 'comment',
 'commitment',
 'comparable',
 'compared',
 'complaint',
 'compliment',
 'complimentartry',
 'computer',
 'con',
 'conceirge',
 'concierge',
 'condo',
 'conference',
 'confirmed',
 'confused',
 'consecutive',
 'consierge',
 'consisted',
 'consists',
 'construction',
 'convenience',
 'conveniently',
 'convinced',
 'cooked',
 'cookie',
 'cooky',
 'cool',
 'coordinate',
 'corner',
 'couch',
 'counter',
 'cousin',
 'covered',
 'cramped',
 'cranky',
 'cream',
 'creates',
 'credit',
 'crib',
 'croissant',
 'cruise',
 'cta',
 'cuisine',
 'cup',
 'currently',
 'curry',
 'customer',
 'cut',
 'cutter',
 'damn',
 'dance',
 'danish',
 'dated',
 'dave',
 'dc',
 'de',
 'deal',
 'dear',
 'debris',
 'dec',
 'deceiving',
 'december',
 'decide',
 'decided',
 'decision',
 'defiantly',
 'definite',
 'definitely',
 'delayed',
 'delicious',
 'delight',
 'delivered',
 'demanded',
 'design',
 'designed',
 'designer',
 'desperate',
 'device',
 'die',
 'dine',
 'dined',
 'dining',
 'direct',
 'directly',
 'disappointing',
 'disaster',
 'display',
 'displeased',
 'disposal',
 'dissappointed',
 'dissatisfied',
 'distance',
 'distasteful',
 'division',
 'docking',
 'doesnt',
 'dog',
 'donut',
 'door',
 'doorman',
 'downside',
 'downtown',
 'drain',
 'drake',
 'dream',
 'drink',
 'driving',
 'eager',
 'early',
 'earth',
 'east',
 'efficient',
 'el',
 'elegant',
 'elevator',
 'eliminated',
 'elite',
 'email',
 'enjoy',
 'enjoyable',
 'enjoyed',
 'entered',
 'entering',
 'entertainment',
 'entirely',
 'entree',
 'environment',
 'establishment',
 'etc',
 'european',
 'eve',
 'evening',
 'excellent',
 'exceptional',
 'excited',
 'exciting',
 'excuse',
 'exhaust',
 'exhibit',
 'exited',
 'exotic',
 'expected',
 'expecting',
 'expedia',
 'experience',
 'experince',
 'exposed',
 'exquisite',
 'extensively',
 'extravagant',
 'faboulous',
 'facing',
 'factory',
 'fallen',
 'family',
 'famous',
 'fan',
 'fancy',
 'far',
 'father',
 'fault',
 'favorite',
 'favourite',
 'feature',
 'february',
 'feel',
 'felt',
 'festival',
 'fiancee',
 'field',
 'figure',
 'file',
 'fin',
 'finally',
 'finest',
 'finished',
 'firework',
 'firstly',
 'fitness',
 'fitzpatrick',
 'flooded',
 'flooding',
 'floor',
 'flower',
 'focus',
 'followed',
 'food',
 'forever',
 'forward',
 'fowl',
 'francisco',
 'free',
 'fridge',
 'friendliness',
 'fruit',
 'ft',
 'fully',
 'funky',
 'futon',
 'gem',
 'generally',
 'genuine',
 'gift',
 'gino',
 'glowing',
 'golden',
 'goldfish',
 'good',
 'goody',
 'gorgeous',
 'grade',
 'grand',
 'gratuity',
 'grease',
 'great',
 'greeted',
 'grooming',
 'grout',
 'guaranteed',
 'guy',
 'hair',
 'hallway',
 'hancock',
 'handicapped',
 'hanger',
 'happened',
 'hard',
 'hare',
 'hassle',
 'hated',
 'hear',
 'heart',
 'heat',
 'heated',
 'heaven',
 'heavenly',
 'helped',
 'helpful',
 'helping',
 'hesitate',
 'hesitation',
 'highest',
 'highway',
 'hilton',
 'historic',
 'hit',
 'hold',
 'holder',
 'home',
 'homewood',
 'honest',
 'honeymoon',
 'honor',
 'hope',
 'hoped',
 'horrible',
 'hors',
 'hotel',
 'hotwire',
 'hour',
 'housekeeping',
 'hr',
 'huge',
 'husband',
 'hustle',
 'hvac',
 'hypo',
 'ice',
 'impecable',
 'impeccably',
 'impersonal',
 'impress',
 'improve',
 'improvement',
 'inconvenient',
 'incorrect',
 'indoor',
 'indoors',
 'inn',
 'inside',
 'insisting',
 'instance',
 'intended',
 'interior',
 'international',
 'interview',
 'irritated',
 'james',
 'january',
 'jaw',
 'jet',
 'jewel',
 'joe',
 'john',
 'juice',
 'july',
 'jumping',
 'june',
 'keefer',
 'kickback',
 'kid',
 'kimpton',
 'kimptons',
 'kind',
 'kit',
 'kitchenette',
 'knickerbocker',
 'knocking',
 'known',
 'la',
 'lake',
 'laptop',
 'large',
 'larger',
 'largest',
 'laundry',
 'lavish',
 'law',
 'leaked',
 'leave',
 'lend',
 'lid',
 'life',
 'lift',
 'lightbulb',
 'like',
 'line',
 'linnens',
 'lite',
 'little',
 'load',
 'lobby',
 'local',
 'located',
 'location',
 'lockwood',
 'logo',
 'london',
 'long',
 'look',
 'looked',
 'looking',
 'loop',
 'los',
 'lot',
 'lovely',
 'low',
 'lower',
 'loyalty',
 'luxuary',
 'luxurious',
 'luxury',
 'macys',
 'mad',
 'magnificant',
 'mail',
 'main',
 'maker',
 'mall',
 'manager',
 'march',
 'married',
 'marriott',
 'martini',
 'massage',
 'material',
 'meal',
 'meeting',
 'membership',
 'memorial',
 'memory',
 'mention',
 'mentioned',
 'met',
 'metro',
 'michigan',
 'midway',
 'mile',
 'millenium',
 'millennium',
 'min',
 'mini',
 'minibar',
 'moderate',
 'modern',
 'moment',
 'mon',
 'money',
 'monoco',
 'mood',
 'morning',
 'motel',
 'musical',
 'musty',
 'narrow',
 'navy',
 'nbc',
 'nd',
 'neat',
 'needed',
 'needle',
 'negative',
 'neighborhood',
 'newly',
 'news',
 'night',
 'nightmare',
 'nite',
 'noisy',
 'nominal',
 'nook',
 'nordstrom',
 'north',
 'note',
 'noted',
 'november',
 'nyc',
 'obvious',
 'ocean',
 'october',
 'oddly',
 'odor',
 'offer',
 'oh',
 'ok',
 'okay',
 'old',
 'older',
 'open',
 'opening',
 'operating',
 'operator',
 'orange',
 'organized',
 'orginal',
 'originally',
 'ouch',
 'outrageous',
 'outrageously',
 'oven',
 'overall',
 'package',
 'packing',
 'paid',
 'painted',
 'pamper',
 'pampered',
 'pantry',
 'paris',
 'parking',
 'pas',
 'peaceful',
 'peeling',
 'pen',
 'peninsula',
 'penninsula',
 'perfection',
 'perfectly',
 'personal',
 'pet',
 'phone',
 'picture',
 'pictured',
 'pipe',
 'place',
 'planned',
 'planner',
 'planning',
 'plate',
 'plenty',
 'plush',
 'pm',
 'pocket',
 'policy',
 'pop',
 'portray',
 'portrayed',
 'position',
 'post',
 'poster',
 'practice',
 'pre',
 'prepare',
 'presence',
 'presidential',
 'previous',
 'priceline',
 'print',
 'printing',
 'prior',
 'prison',
 'pro',
 'product',
 'professionally',
 'program',
 'property',
 'provide',
 'public',
 'pull',
 'pure',
 'pushy',
 'quiet',
 'radio',
 'rain',
 'rate',
 'rd',
 'read',
 'reading',
 'ready',
 'reality',
 'realy',
 'recent',
 'recently',
 'reception',
 'recomend',
 'recommend',
 'recommending',
 'reconsider',
 'red',
 'redecorated',
 'redecorating',
 'refund',
 'refurbished',
 'refused',
 'regardless',
 'regency',
 'register',
 'registration',
 'regret',
 'relax',
 'relaxed',
 'relaxing',
 'relieved',
 'removed',
 'renovated',
 'renovation',
 'rental',
 'repair',
 'representation',
 'research',
 'reserved',
 'respect',
 'respectful',
 'respond',
 'rested',
 'resturants',
 'retreat',
 'returned',
 'returning',
 'reunion',
 'revealed',
 'review',
 'reviewer',
 'rex',
 'rich',
 'ride',
 'ritz',
 'ritzy',
 'river',
 'robe',
 'rock',
 'roll',
 'rollaway',
 'romance',
 'romantic',
 'roof',
 'roomy',
 'rose',
 'royalty',
 'rude',
 'running',
 'rush',
 'sale',
 'sample',
 'satisfaction',
 'satisfied',
 'saturday',
 'scene',
 'scenery',
 'scored',
 'scratchy',
 'season',
 'seat',
 'seating',
 'second',
 'section',
 'security',
 'seeing',
 'self',
 'seminar',
 'sensibility',
 'separate',
 'seperate',
 'serenity',
 'serf',
 'service',
 'serving',
 'settle',
 'settled',
 'settling',
 'setup',
 'shabby',
 'shared',
 'sharing',
 'shedd',
 'sheet',
 'shower',
 'shown',
 'sidewalk',
 'sightseeing',
 'signal',
 'signing',
 'siren',
 'sit',
 'sky',
 'skyline',
 'slam',
 'slamming',
 'sliding',
 'slightly',
 'small',
 'smallest',
 'smell',
 'smelled',
 'smelling',
 'smoke',
 'smoking',
 'snobby',
 'snooty',
 'snow',
 'snubbed',
 'soda',
 'sofa',
 'sofitel',
 'soft',
 'sold',
 'soldier',
 'solution',
 'soon',
 'sophisticated',
 'sophistication',
 'sorely',
 'south',
 'spa',
 'space',
 'speed',
 'spend',
 'spg',
 'splurge',
 'spoon',
 'sport',
 'spot',
 'spotlessly',
 'st',
 'stale',
 'stall',
 'stark',
 'started',
 'starving',
 'starwood',
 'stated',
 'stating',
 'station',
 'staying',
 'steak',
 'steal',
 'stephanie',
 'stepping',
 'sterile',
 'stiff',
 'stolen',
 'storage',
 'street',
 'stress',
 'striking',
 'structure',
 'study',
 'subpar',
 'subway',
 'suggest',
 'sun',
 'sunday',
 'sundecks',
 'supplied',
 'surely',
 'surrounding',
 'sushi',
 'suspect',
 'sutton',
 'swept',
 'swisshotel',
 'ta',
 'table',
 'talking',
 'tasteful',
 'tax',
 'television',
 'telling',
 'temp',
 'terrible',
 'terrific',
 'test',
 'texting',
 'thanksgiving',
 'thats',
 'theater',
 'therapy',
 'threw',
 'thumb',
 'ticket',
 'tile',
 'time',
 'tiny',
 'toast',
 'today',
 'ton',
 'took',
 'topped',
 'touch',
 'tough',
 'tout',
 'touted',
 'towel',
 'traffic',
 'train',
 'trained',
 'trait',
 'transferred',
 'transport',
 'transportation',
 'trash',
 'traveling',
 'travelled',
 'travelzoo',
 'treat',
 'treated',
 'treatment',
 'tribune',
 'trip',
 'tripadvisor',
 'trolley',
 'trump',
 'tub',
 'tucked',
 'turndown',
 'turned',
 'tv',
 'ultimately',
 'umbrella',
 'unaccommodating',
 'undergoing',
 'underneath',
 'unfailingly',
 'unfriendly',
 'union',
 'unpleasant',
 'unsatisfied',
 'unwind',
 'upcharge',
 'upcoming',
 'updated',
 'updating',
 'upgrade',
 'upgraded',
 'upmost',
 'upscale',
 'upside',
 'urine',
 'usa',
 'usd',
 'utmost',
 'vacation',
 'vacuum',
 'valentine',
 'valet',
 'valuable',
 'value',
 'valued',
 'veggie',
 'vent',
 'verify',
 'vicinity',
 'virtually',
 'visit',
 'visited',
 'visiting',
 'vomit',
 'wacker',
 'wait',
 'waived',
 'wake',
 'walk',
 'walkable',
 'walking',
 'wall',
 'wallpaper',
 'wander',
 'wanted',
 'washington',
 'waste',
 'water',
 'waterfront',
 'watertower',
 'wear',
 'website',
 'wedding',
 'went',
 'westin',
 'white',
 'wicked',
 'wife',
 'window',
 'windy',
 'winning',
 'winter',
 'wishing',
 'worn',
 'worry',
 'worst',
 'wouldnt',
 'wrigley',
 'wrong',
 'wrote',
 'year',
 'yellow',
 'yes',
 'young',
 'yummy',
 'zone']

In [177]:
X_kbest_features

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [178]:
u3 = pd.DataFrame(X_kbest_features, columns = chi_feature)
u3.head()

,accept,accepted,accomidations,accommodated,accommodation,accomodations,according,accurate,acknowledged,acted,...,wouldnt,wrigley,wrong,wrote,year,yellow,yes,young,yummy,zone
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.247551,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Creating PYG graph

In [179]:
X1 = pd.concat([u3, df['Class']], axis=1)
X1.head()

,accept,accepted,accomidations,accommodated,accommodation,accomodations,according,accurate,acknowledged,acted,...,wrigley,wrong,wrote,year,yellow,yes,young,yummy,zone,Class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.247551,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [180]:
mainDataDFWoClass=X1.copy()
mainDataDFWoClass.drop(columns=['Class'],inplace=True)
mainDataDFWoClass

,accept,accepted,accomidations,accommodated,accommodation,accomodations,according,accurate,acknowledged,acted,...,wouldnt,wrigley,wrong,wrote,year,yellow,yes,young,yummy,zone
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.247551,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1596,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1597,0.0,0.0,0.0,0.0,0.121806,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1598,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1599,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [181]:
classList=list(df['Class'])

In [182]:
def self_cosine_vectorized(a):
    dots = a.dot(a.T)
    sqrt_sums = np.sqrt((a**2).sum(1))
    cosine_dists = 1 - (dots/sqrt_sums)/sqrt_sums[:,None]
    np.fill_diagonal(cosine_dists,0)
    return cosine_dists

In [183]:
dist = self_cosine_vectorized(mainDataDFWoClass.values) 
dist

array([[0.        , 0.9405905 , 0.84884211, ..., 0.9611148 , 0.94566963,
        0.91649604],
       [0.9405905 , 0.        , 0.93565398, ..., 1.        , 1.        ,
        0.98463312],
       [0.84884211, 0.93565398, 0.        , ..., 0.89014397, 0.95655559,
        0.89588661],
       ...,
       [0.9611148 , 1.        , 0.89014397, ..., 0.        , 0.97014172,
        0.94950192],
       [0.94566963, 1.        , 0.95655559, ..., 0.97014172, 0.        ,
        0.98234986],
       [0.91649604, 0.98463312, 0.89588661, ..., 0.94950192, 0.98234986,
        0.        ]])

In [184]:
# Converting array into dataframe format
X1 = pd.DataFrame(dist)
X1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599
0,0.000000,0.940591,0.848842,0.928784,0.886990,0.896077,0.839965,0.844270,0.923193,0.946345,...,0.923215,0.904583,0.962440,0.920801,0.904900,0.982124,1.000000,0.961115,0.945670,0.916496
1,0.940591,0.000000,0.935654,0.989527,0.980619,0.980874,0.908291,0.952800,0.954079,0.815788,...,0.904359,0.960733,1.000000,1.000000,0.986527,0.987614,1.000000,1.000000,1.000000,0.984633
2,0.848842,0.935654,0.000000,0.947094,0.983019,0.909841,0.980025,0.947310,0.956790,0.881688,...,0.838218,0.984251,0.952820,0.953599,0.964032,0.934771,0.958112,0.890144,0.956556,0.895887
3,0.928784,0.989527,0.947094,0.000000,0.684181,0.958003,0.940565,0.872738,0.971759,0.920519,...,0.960120,0.986052,1.000000,1.000000,0.976680,0.936685,0.966877,0.941250,1.000000,0.986701
4,0.886990,0.980619,0.983019,0.684181,0.000000,0.936677,0.912331,0.932780,0.894696,0.911928,...,1.000000,0.965750,0.984397,1.000000,1.000000,0.971950,1.000000,0.975788,1.000000,0.954159
5,0.896077,0.980874,0.909841,0.958003,0.936677,0.000000,0.911778,0.875309,0.918146,0.941594,...,0.924814,0.988404,0.977021,0.968314,0.968323,0.932283,0.969240,0.919454,0.975326,0.902761
6,0.839965,0.908291,0.980025,0.940565,0.912331,0.911778,0.000000,0.956746,0.981739,0.966583,...,0.926888,0.931652,0.962386,0.973458,0.986274,0.917446,0.982822,0.959163,0.986221,0.925638
7,0.844270,0.952800,0.947310,0.872738,0.932780,0.875309,0.956746,0.000000,0.811167,0.907327,...,0.815698,0.902117,0.968446,1.000000,0.881500,0.861830,0.964422,0.875662,0.991950,0.954912
8,0.923193,0.954079,0.956790,0.971759,0.894696,0.918146,0.981739,0.811167,0.000000,0.962480,...,0.944162,0.927032,0.986188,0.970462,0.878265,0.950494,0.957150,0.944069,0.961946,0.925325
9,0.946345,0.815788,0.881688,0.920519,0.911928,0.941594,0.966583,0.907327,0.962480,0.000000,...,0.869490,0.990616,0.995631,1.000000,0.950912,0.955730,0.948196,0.920543,0.966585,0.987046

In [185]:
# taking average
y = np.average(X1)
y

0.9302306946195295

In [186]:
adjmat_df=X1.copy()

In [187]:
adjmat_df[adjmat_df < y]=0
adjmat_df[adjmat_df >= y]=1

In [188]:
adjmat_df

,0,1,2,3,4,5,6,7,8,9,...,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0
1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
1596,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
1597,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
1598,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
1599,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0

In [189]:
adjmat_df.index =adjmat_df.columns

In [190]:
# Create networkx graph object
G = nx.from_pandas_adjacency(adjmat_df,create_using = nx.Graph())
print(nx.info(G))

Graph with 1600 nodes and 758282 edges

In [191]:
labels = np.asarray(df['Class']).astype(np.int64)
labels

array([1, 1, 1, ..., 0, 0, 0])

In [192]:
adj = nx.to_scipy_sparse_matrix(G).tocoo()
adj

<1600x1600 sparse matrix of type '<class 'numpy.float64'>'
	with 1516564 stored elements in COOrdinate format>

In [193]:
row = torch.from_numpy(adj.row.astype(np.int64)).to(torch.long)
row

tensor([   0,    0,    0,  ..., 1599, 1599, 1599])

In [194]:
col = torch.from_numpy(adj.col.astype(np.int64)).to(torch.long)
col

tensor([   1,    9,   13,  ..., 1595, 1597, 1598])

In [195]:
edge_index = torch.stack([row, col], dim=0)
edge_index

tensor([[   0,    0,    0,  ..., 1599, 1599, 1599],
        [   1,    9,   13,  ..., 1595, 1597, 1598]])

In [196]:
# using degree as embedding
embeddings = np.array(list(dict(G.degree()).values()))
embeddings

array([ 870, 1418,  851, ...,  845, 1013,  736])

In [197]:
# normalizing degree values
scale = StandardScaler()
embeddings = scale.fit_transform(embeddings.reshape(-1,1))
embeddings

array([[-0.31106038],
       [ 1.87847864],
       [-0.38697505],
       ...,
       [-0.4109481 ],
       [ 0.26029743],
       [-0.8464586 ]])

In [198]:
G.nodes()

NodeView((0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599))

In [199]:
G.number_of_nodes()

1600

In [200]:
from sklearn.model_selection import train_test_split
import torch_geometric.transforms as T

In [201]:
from torch_geometric.data import InMemoryDataset, Data

In [202]:
# custom dataset
class KarateDataset(InMemoryDataset):
    def __init__(self, transform=None):
        super(KarateDataset, self).__init__('.', transform, None, None)

        data = Data(edge_index=edge_index)
        
        data.num_nodes = G.number_of_nodes()
        
        # embedding 
        data.x = torch.from_numpy(embeddings).type(torch.float32)
        
        # labels
        y = torch.from_numpy(labels).type(torch.long)
        data.y = y.clone().detach()
        
        data.num_classes = 2

        # splitting the data into train, validation and test
        X_train, X_test, y_train, y_test = train_test_split(pd.Series(list(G.nodes())), 
                                                            pd.Series(labels),
                                                            test_size=0.20, 
                                                            random_state=42)
        
        n_nodes = G.number_of_nodes()
        
        # create train and test masks for data
        train_mask = torch.zeros(n_nodes, dtype=torch.bool)
        test_mask = torch.zeros(n_nodes, dtype=torch.bool)
        train_mask[X_train.index] = True
        test_mask[X_test.index] = True
        data['train_mask'] = train_mask
        data['test_mask'] = test_mask

        self.data, self.slices = self.collate([data])

    def _download(self):
        return

    def _process(self):
        return

    def __repr__(self):
        return '{}()'.format(self.__class__.__name__)
    
dataset = KarateDataset()
data = dataset[0]

In [203]:
data['train_mask']

tensor([True, True, True,  ..., True, True, True])

In [204]:
data['test_mask']

tensor([False, False, False,  ..., False, False, False])

In [205]:
dataset[0]

Data(edge_index=[2, 1516564], num_nodes=1600, x=[1600, 1], y=[1600], num_classes=2, train_mask=[1600], test_mask=[1600])

In [206]:
KarateDataset()

KarateDataset()

In [207]:
data

Data(edge_index=[2, 1516564], num_nodes=1600, x=[1600, 1], y=[1600], num_classes=2, train_mask=[1600], test_mask=[1600])

In [208]:
data.num_features

1

In [209]:
data.num_classes

2

In [210]:
import torch.nn as nn
import torch.nn.functional as F
from torch_geometric.nn import GCNConv

# GCN model with 2 layers 
class Net(torch.nn.Module):
    def __init__(self):
        super(Net, self).__init__()
        self.conv1 = GCNConv(data.num_features, 32)
        self.conv2 = GCNConv(32, int(data.num_classes))

    def forward(self):
        x, edge_index = data.x, data.edge_index
        x = F.relu(self.conv1(x, edge_index))
        x = F.dropout(x, training=self.training)
        x = self.conv2(x, edge_index)
        return F.log_softmax(x, dim=1)

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

data =  data.to(device)

model = Net().to(device)

In [211]:
torch.manual_seed(42)

optimizer_name = "Adam"
lr = 1e-1
optimizer = getattr(torch.optim, optimizer_name)(model.parameters(), lr=lr)
epochs = 200

def train():
  model.train()
  optimizer.zero_grad()
  F.nll_loss(model()[data.train_mask], data.y[data.train_mask]).backward()
  optimizer.step()

@torch.no_grad()
def test():
  model.eval()
  logits = model()
  mask1 = data['train_mask']
  pred1 = logits[mask1].max(1)[1]
  acc1 = pred1.eq(data.y[mask1]).sum().item() / mask1.sum().item()
  mask = data['test_mask']
  pred = logits[mask].max(1)[1]
  acc = pred.eq(data.y[mask]).sum().item() / mask.sum().item()
  return acc1,acc

for epoch in range(1, epochs):
  train()

train_acc,test_acc = test()

print('#' * 80)
print('Train Accuracy: %s' %train_acc )
print('Test Accuracy: %s' % test_acc)
print('#' * 80)

################################################################################
Train Accuracy: 0.609375
Test Accuracy: 0.60625
################################################################################